# bazel output directory
startup --output_user_root=C:/bazel_tmp

# show more build details
build --verbose_failures
build --subcommands

# C/C++ build options
build --copt=/WX
build --copt=/W4                           # warning level
build --copt=/D_HAS_EXCEPTIONS=0           # disable C++ exception

# C++ exclusive build options
build --cxxopt=/EHs-c-                     # disable C++ exception
build --cxxopt=/GR-                        # disable C++ RTTI
build --cxxopt=/std:c++23preview

# Debug build options
build:debug --compilation_mode=dbg
build:debug --copt=/D_DEBUG
build:debug --copt=/MDd

# Release build options
build:release --compilation_mode=opt
build:release --copt=/clang:-O3
build:release --copt=/MD

# use clang-cl compiler
build --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl
build --extra_execution_platforms=//src:x64_windows-clang-cl
